<div class="row">
    <div class="col-md-12">
        <div class="pizza-size-picker">
            <ng-container *ngFor="let pizzaSize of pizzaSizes">
                <div
                    class="size-option"
                    (click)="changeSize(pizzaSize)"
                    [ngClass]="{
                        active: selectedSize === pizzaSize
                    }"
                >
                    {{ pizzaSize }}
                </div>
            </ng-container>
        </div>
    </div>
</div>
